###**Importing Libraries**

In [46]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel

###**Loading Dataset**

In [13]:
movies_csv=pd.read_csv("/content/movie_dataset.csv")
movies_csv.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

*Display of columns present in the data*

In [20]:
movies_csv.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [11]:
movies_csv.shape

(4803, 24)

*WeightedRating(WR) = (vR/(v+m))+(mc/(v+m))*

In [7]:
#c is the mean vote across the data
c=movies_csv['vote_average'].mean()
c

6.092171559442011

In [9]:
#m is the minimum number of votes required for the movie to be listed in our list
m = movies_csv['vote_count'].quantile(0.90)       #90 percentile bar kept
m

1838.4000000000015

*Appending the filtered above m (90 percentile) movies into a new dataframe*

In [10]:
movies_list = movies_csv.copy().loc[movies_csv['vote_count'] >= m]
movies_list.shape

(481, 24)

In [47]:
def average_rating(x, m=m, c=c):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the weighted rating formula
    return (v/(v+m) * R) + (m/(m+v) * c)

In [48]:
#new feature score calculated using the above function
movies_list['score'] = movies_list.apply(average_rating, axis=1)

*Sorting on the basis of the calculated score*

In [49]:
movies_list = movies_list.sort_values('score', ascending=False)

#Displaying the top 25 movies
movies_list[['title', 'vote_count', 'vote_average', 'score']].head(25)

                                                  title  ...     score
1881                           The Shawshank Redemption  ...  8.059258
662                                          Fight Club  ...  7.939256
65                                      The Dark Knight  ...  7.920020
3232                                       Pulp Fiction  ...  7.904645
96                                            Inception  ...  7.863239
3337                                      The Godfather  ...  7.851236
95                                         Interstellar  ...  7.809479
809                                        Forrest Gump  ...  7.803188
329       The Lord of the Rings: The Return of the King  ...  7.727243
1990                            The Empire Strikes Back  ...  7.697884
262   The Lord of the Rings: The Fellowship of the Ring  ...  7.667341
2912                                          Star Wars  ...  7.663813
1818                                   Schindler's List  ...  7.641883
3865                                           Whiplash  ...  7.633781
330               The Lord of the Rings: The Two Towers  ...  7.623893
1553                                              Se7en  ...  7.614534
94                              Guardians of the Galaxy  ...  7.613005
634                                          The Matrix  ...  7.590704
2294                                      Spirited Away  ...  7.585209
77                                           Inside Out  ...  7.582379
2285                                 Back to the Future  ...  7.557007
690                                      The Green Mile  ...  7.541698
287                                    Django Unchained  ...  7.536989
2522                                 The Imitation Game  ...  7.536150
2731                             The Godfather: Part II  ...  7.515889

[25 rows x 4 columns]

*Displaying the overview of the first 5 rows of the data*

In [31]:
movies_csv['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

*Removing stop words*

In [33]:
tfidf = TfidfVectorizer(stop_words='english')

*Replacing not a number characters with a blank space*

In [34]:
movies_csv['overview'] = movies_csv['overview'].fillna('')

*Constructing TF-IDF matrix*

In [35]:
tfidf_matrix = tfidf.fit_transform(movies_csv['overview'])
tfidf_matrix.shape

(4803, 20978)

*Array mapping from feature integer indices*

In [36]:
tfidf.get_feature_names()[5000:5010]

['define',
 'defined',
 'defines',
 'defining',
 'definite',
 'definitely',
 'definition',
 'definitions',
 'deflower',
 'deformed']

*Compute cosine similarity matrix*

In [38]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [39]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [40]:
cosine_sim.shape

(4803, 4803)

*Reverse map is created*

In [42]:
indices = pd.Series(movies_csv.index, index=movies_csv['title']).drop_duplicates()

In [43]:
indices[:10]

title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
Spider-Man 3                                5
Tangled                                     6
Avengers: Age of Ultron                     7
Harry Potter and the Half-Blood Prince      8
Batman v Superman: Dawn of Justice          9
dtype: int64

###*Fetching the top 10 elements of a list with realtion to the movie title given*

In [52]:
# Function that takes in movie title as input and outputs most similar movies
def recommended_movies(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return movies_csv['title'].iloc[movie_indices]

In [53]:
recommended_movies('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title, dtype: object

In [56]:
movie = input("Enter a movie of your choice: ")
recommended_movies(movie)

Enter a movie of your choice: Forrest Gump

2686           An American Haunting
2904             Heaven is for Real
4287                        Niagara
725                  The Shaggy Dog
2760                           Room
124                          Frozen
1098    Love in the Time of Cholera
3649                  Lovely, Still
1871             Mr. Bean's Holiday
4641    I Married a Strange Person!
Name: title, dtype: object